In [22]:
import pandas as pd

In [23]:
df = pd.read_csv(r'C:\Users\aguin\Desktop\NexFlow\nexus-prediction\data_preprocessing\csvs\ALQ_G.csv')

In [24]:
df.head()

,SEQN,ALQ101,ALQ110,ALQ120Q,ALQ120U,ALQ130,ALQ141Q,ALQ141U,ALQ151,ALQ155
0,62161.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,62164.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,62169.0,1.0,NaN,1.0,2.0,2.0,1.0,3.0,2.0,NaN
3,62172.0,1.0,NaN,2.0,1.0,3.0,1.0,1.0,2.0,NaN
4,62174.0,1.0,NaN,0.0,NaN,NaN,NaN,NaN,2.0,NaN

In [25]:
df = df[["ALQ101", "ALQ110", "ALQ130", "ALQ141Q", "ALQ151"]]

In [26]:
df.columns

Index(['ALQ101', 'ALQ110', 'ALQ130', 'ALQ141Q', 'ALQ151'], dtype='object')

In [27]:
df.head()

   ALQ101  ALQ110  ALQ130  ALQ141Q  ALQ151
0     2.0     2.0     NaN      NaN     NaN
1     NaN     NaN     NaN      NaN     NaN
2     1.0     NaN     2.0      1.0     2.0
3     1.0     NaN     3.0      1.0     2.0
4     1.0     NaN     NaN      NaN     2.0